@import "tailwindcss";

@theme inline {
  /* Background colors */
  --color-primary: rgb(var(--color-primary));
  --color-secondary: rgb(var(--color-secondary));
  --color-tertiary: rgb(var(--color-tertiary));
  --color-accent: rgb(var(--color-accent));

  /* Text colors */
  --color-text-one: rgb(var(--color-text-one));
  --color-text-two: rgb(var(--color-text-two));
  --color-text-three: rgb(var(--color-text-three));

  /* Font sizes */
  --text-fontsize-h1: 11.25rem;
  --text-fontsize-h2: 3.5rem;
  --text-fontsize-h3: 3.25rem;
  --text-fontsize-h4: 2rem;
  --text-fontsize-body: 1rem;
  --text-fontsize-large-body: 1.125rem;
  --text-fontsize-tag: 0.875rem;
  --text-fontsize-button: 1rem;

  /* Font weights */
  --font-weight-h1: 500;
  --font-weight-h2: 700;
  --font-weight-h3: 700;
  --font-weight-h4: 600;
  --font-weight-body: 400;
  --font-weight-large-body: 600;
  --font-weight-tag: 500;
  --font-weight-button: 500;

  /* Lineheight text */
  --leading-lineheight-text: 1.2;
  --leading-lineheight-text-regular: 1.5;

  /* Font */
  --font-montserrat: var(--font-montserrat);
}

:root {
  /* Colors */
  --color-primary: 1 62 116;
  --color-secondary: 178 203 11;
  --color-tertiary: 255 255 255;
  --color-accent: 239 239 239;

  --color-text-one: 1 62 116;
  --color-text-two: 178 203 11;
  --color-text-three: 255 255 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 237 237 237;
  }
}

body {

} */
