@import "tailwindcss";

@theme inline {
  --color-primary: rgb(var(--color-primary));
  --color-secondary: rgb(var(--color-secondary));
  --color-accent: rgb(var(--color-accent));

  --text-primary: rgb(var(--text-primary));
  --text-secondary: rgb(var(--text-secondary));

  --font-montserrat: var(--font-montserrat);
}

:root {
  /* Colors */
  --color-primary: 1 62 116;
  --color-secondary: 178 203 11;
  --color-accent: 239 239 239;

  --text-primary: 1 62 116;
  --text-secondary: 255 255 255;

  /* Font sizes */
  --fontsize-h1: 11.25rem;
  --fontsize-h2: 3.5rem;
  --fontsize-h3: 3.25rem;
  --fontsize-body: 1rem;
  --fontsize-large-body: 1.125rem;
  --fontsize-tag: 0.875rem;
  --fontsize-button: 1rem;

  /* Font weights */
  --fontweight-h1: 500;
  --fontweight-h2: 700;
  --fontweight-h3: 700;
  --fontweight-body: 400;
  --fontweight-large-body: 600;
  --fontweight-tag: 500;
  --fontweight-button: 500;

  /* Lineheight text */
  --lineheight-text: 1.5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 237 237 237;
  }
}

body {

} */
